<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
      
<h1 class = 'here'> Here is the summary </h1>
<b><p>-----------------------------------------------------</p></b>
<p class = "here">{{ summary }}</p>
<b><p>-----------------------------------------------------</p></b>
    </body>
</html>